.viewerOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #7A6FAF;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.iconButton {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.imageContainer {
  flex-grow: 1;
  position: relative;
}
