@font-face {
  font-family: 'W95FA';
  src: url('/fonts/W95FA/w95fa.woff2') format('woff2'),
       url('/fonts/W95FA/w95fa.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.w95fa {
  font-family: 'W95FA', monospace;
}
